<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ebkus.entity.ResetPasswordMapper">

    <select id="getPengguna" parameterType="java.util.Map"  resultType="ebkus.model.User">
        SELECT a.i_id as idPengguna, i_peg_nrk as idNrk, n_peg as namaPengguna, i_idsekolah as idSekolah, i_npsn || ' / ' || n_sekolah_pendek as namaSekolahPendek
        FROM trbkuspengguna a, trsekolah b
        WHERE a.i_idsekolah = b.i_id AND a.i_peg_nrk = #{nrk}
    </select>

    <select id="generatePassword" resultType="java.lang.String">
        select  round(dbms_random.value(10000,99999))  from dual
    </select>

    <update id="simpan" parameterType="java.util.Map"    >
        UPDATE trbkuspengguna
        SET i_sandi5 = i_sandi4,
        i_sandi4 = i_sandi3,
        i_sandi3 = i_sandi2,
        i_sandi2 = i_sandi1,
        i_sandi1 = i_sandi,
        i_sandi = crypto16.ENCRYPT(#{passwordBaru}),
        I_PGUN_UBAH = #{idEntry},
        D_PGUN_UBAH = SYSDATE,
        Q_sandi_ERROR = 0 ,
        d_sandi_expired = to_char(sysdate+1, 'yyyymmdd'),
        c_lock = 0
        WHERE I_ID = #{idpengguna}
    </update>
</mapper>